<!DOCTYPE html>
<html lang="en" id="wholePage">
    <head>
      <meta charset="utf-8" />
      <link rel="stylesheet" href="css/deli-very.css">
      <link rel="stylesheet" type="text/css" href="\css\style.css">
      <script src="js/menu.js" defer></script>
      <script type="module" src="js/js_script.js" defer> </script>
      <script src="https://vuejs.org/js/vue.js"></script>
      <script src="/socket.io/socket.io.js" defer></script>
      <script type="module" src="js/vue_script.js" defer> </script>
      <title>Freddie's Burger Pub </title>
    </head>

  <body>
    <section class="header">
      <img id="headerpicture" src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/delish-french-fries-horizontal-1537551908.jpg?crop=1xw:0.75xh;center,top&resize=1200:*">
      <h1 id="headertext">Freddie's Burger Pub </h1>
    </section>

    <main id="bigID">

      <Section class="allburgers">
        <h1>The Burgers</h1>
        <h3> Choose one of our tasty burgers by checking in the box below! </h3>
        <br>
        <div class="burgermenu" id="myVueID">
          <div v-for="burger in burgers" v-if="burger.lactose == true || burger.gluten == true">
            <div class="largertext"> {{burger.productName}}</div> <img :src="burger.image" height="180">
            <div> Burger contains: </div>
            <div v-if="burger.lactose == true" class="Bolded"> - lactose </div>
              <div v-else> <br> </div>
            <div v-if="burger.gluten == true" class="Bolded"> - gluten </div>
              <div v-else> <br> </div>
            <section>
            <label class="Bolded" for="burger"> Add {{burger.productName}}:</label><br>
            <input type="checkbox" id="burgerID" name="burger" :value=" burger.productName">
          </section>
          </div>
          <div v-else>
            <div class="largertext">{{burger.productName }}</div> <img :src="burger.image" height="180">
            Burger does not contain gluten or lactose. <br> <br> <br> <br>
            <label class="Bolded" for="burger"> Add {{burger.productName}}:</label><br>
            <input type="checkbox" id="burgerID" name="burger" :value=" burger.productName">
          </div>
        </div>
      </section>

      <section id="contactID">
        <h1> Customer Information </h1>
        <p> Fill in the form below to order and get a home delivery. </p>
        <h1> Delivery Information </h1>
        <form>
          <p> <label for="fullname">Full name</label><br>
            <input type="text" id="fullname" name="fn" required="required" placeholder="First- and Last name"></p>
          <p> <label for="email">E-mail</label><br>
            <input type="email" id="email" name="em" required="required" placeholder="write.your.email@here.se"></p>
          <!--  <p> <label for="adress">Street</label><br>
                <input type="text" id = "address" name ="sa" required = "required" placeholder="Street name"></p>
            <p> <label for="housenumb">House</label><br>
                <input type="number" id = "housenumber" name ="hn" required = "required" placeholder="House number"></p> -->
          <p>
            <label for="paymentmethod">Choose a payment method:</label><br>
            <select id="payment" name="pm">
              <option>card</option>
              <option>swish</option>
              <option>e-Invoice</option>
              <option>invoice</option>
            </select>
          </p>
          <p>
            <label for="age">Are you over 18?</label><br>
            <input type="radio" id="overeighteen" name="age" value=" over 18">
            <label for="yes">Yes</label><br>
            <input checked type="radio" id="undereighteen" name="age" value=" under 18">
            <label for="no">No</label><br>
            <input type="radio" id="dontknow" name="age" value=" do not wish to provide">
            <label for="notprovide">Do not wish to provide</label><br>
          </p>
        </form>

      <h4> Please indicate point of delivery by clicking the map below: </h4>
      <div class="view-box">
          <div id="dots" v-on:click="displayOrder">
              <div v-bind:style="{ left: karta.details.x + 'px', top: karta.details.y + 'px'}">
                T
              </div>
        </div>
      </div>
      <h4> Happy with your order? Submit it by pressing the button below. </h4>
      </section>

      <div>
         <button  v-on:click="addOrder()"><img src="https://i.pinimg.com/originals/19/e4/14/19e414fbd49865492c836da99cc91de8.png" width="15">
          <h2 class="Bolded"> {{orderStatus}} </h2>
         </button>
         
         <section>
           <div id="submitID"  v-on:click="addOrder()">
             <p class="Bolded">  {{summaryText}} </p>

             <p v-on:click="addOrder()">  {{contactOrder}} </p>
             <p v-on:click="addOrder()"> {{contactText}} </p>
             <p v-on:click="addOrder()"> {{deliverTo}} </p>
           </div>
         </section>
       </div>

  </main>

  <footer id="footer">
    <br>
    &copy; 2020 FreddieBurger Inc.
     <p> </p>
  </footer>

</body>
</html>

<!--
OLD CODE
BUTTON TO JAVASCRIPT
  <button onclick="myFunction()"> <img src = "https://cdn0.iconfinder.com/data/icons/hand-gestures-vol-1/48/39-512.png" width="20"> Place my order! </button>
  <p id="myButtonID"></p>

  <div>
  <button v-on:click="getInputText()"><img src="https://cdn0.iconfinder.com/data/icons/hand-gestures-vol-1/48/39-512.png" width="20">
    Place my order!
  </button>
  <div v-on:click="getInputText()">
    <p id="textOrderInfo"> </p>
  </div>
</div>
-->

<!-- I HAD A DRINK MENU BEFORE
        <section class = "drinks">
          <h1>The Drinks</h1>
          <div class = "drinktable">
            <div class = "criteria label"><h4>Drinks</h4>
              <p> Ginger Beer </p>
              <p> San Pelligrino </p>
              <p> Red Wine </p>
            </div>
            <div class ="criteria taste"> <h4>Taste</h4>
              <p> Fresh ginger and lime </p>
              <p> Sunwarm italian lemon </p>
              <p> Berries and vanilla </p>
            </div>
            <div class = "criteria price"> <h4>Price</h4>
              <p> 75.00 </p>
              <p> 39.00 </p>
              <p> 89.00 </p>
            </div>
          </div>
        </section>
-->
