#wholePage {
  background-color: beige;
}
.header {
  height: 200px;
  overflow:hidden;
}

#headerpicture {
  opacity: 0.5;
  width: 100%;
  height: auto;
}
#headertext{
    font-size: 2.5em;
    position: absolute;
    margin-top: -700px;
    padding: 50px 150px;
    color: darkgreen;
}

img {
  width:250px;
}
body {
    font-size: 1.3em;
    font-family: "Times new roman";
}
section {
  margin: 60px 5px;
}

#contactID {
  border: 4px dotted black;
  padding: 1px 10px 1px;
}

#submitID {
  margin: 0px 50px 30px 50px;
  width: 40%;
  color: black;
}

button {
  margin: 0px 50px 30px 50px;
  border: 10px dotted lightgreen;
  padding: 1px 10px 1px;
}

button:hover {
  background-color: lightgreen;
  cursor: grab ;
}

#footer {
  background-color: lightgreen;
  
  font-weight: bold;
    font-size: 1.2em;
}

.Bolded {
  font-weight: bold;
}
.largertext {
  font-size: 1.3em
}





.allburgers {
  background-color: black;
  color: white;
  border: 6px dotted white;
  padding: 1px 10px 1px;
}
.burgermenu {
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  grid-template-columns: repeat(auto-fill, 250px) ;
}
.burger {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px;
  font-size: 1.3em;
}
.a {
  grid-column: 1 /span 1;
}
.b {
  grid-column: 2 /span 1;
}
.c {
  grid-column: 3 /span 1;
}
